################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/src/PetHome.Web/PetHome.Web.csproj
